.hero {
    background: url('https://st3.depositphotos.com/1006753/12801/i/450/depositphotos_128019598-stock-photo-delicious-grilled-burger.jpg') center/cover no-repeat;
    color: white;
    text-shadow: 1px 1px 5px black;
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu-card img {
    height: 200px;
    object-fit: cover;
}

.footer {
    background: #111;
    color: #fff;
    padding: 20px 0;
}
